.flip-card-innner{
    text-align: center;
    transition: transform 0.6%;
    transform-style: preserve-3d;

}
.flip-card:hover .flip-card-innner{
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color:aqua ;

}